/* #673ab7 */
/* #ffd740 */
/* #4094a8 */
/* ---------------------------ngClass Handler--------------------------- */
.outliner{
  outline-color: red;
}
.text-h-e{
  font-size: 16px;
  padding: 16px 32px;
  text-transform: uppercase;
  color: #fff;
  background-color: #303030;
}

.text-h-e:hover {
  color: #4094a8;
}
/* ---------------------------header--------------------------- */
.header {
  background-color: #ffd740b0;
  padding: 1.5em;
}
/* ---------------------------Main--------------------------- */
main {
  display: flex;
  margin: 0.5em auto;
  width: 100%;
}
/* ---------------------------Sections--------------------------- */
section {
  display: inline-flex;
  margin: 0.5em auto;
}
/* ---------------------------Info edit--------------------------- */
aside {
  align-self: center;
}
/* ---------------------------imgs div container--------------------------- */
.img-div {
  position: relative;
  width: fit-content;
}
/* ---------------------------imgs--indiviulally--------------------------- */
img {
  outline: auto;
  outline-color: #4094a8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* ---------------------------Each img element--------------------------- */
.card-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
/* ---------------------------Text on imgs--------------------------- */
/* ---------------------------btn--------------------------- */
.Info {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.img-div:hover .card-img {
  opacity: 0.3;
}

.img-div:hover .Info {
  opacity: 1;
}
/* ---------------------------btn text--------------------------- */
.text-h {
  font-size: 16px;
  padding: 16px 32px;
  text-transform: uppercase;
  color: #fff;
  background-color: #4094a8;
}

.text-h:hover {
  color: #303030;
}
/* ---------------------------flexbox--------------------------- */
@media (min-width: 768px) {
  main {
    flex-direction: column;
  }
  section {
    flex-direction: row;
  }
}
