<app-navbar></app-navbar>
<!-- ------------------------------------------Container------------------------------------------ -->
<ng-container>
  <main class="container-fluid d-flex justify-content-between">
    <!-- ------------------------------------------Header------------------------------------------ -->
    <div class="header border text-center rounded">
      <h3 class="h2">Meet our professional team</h3>
    </div>
    <!-- ------------------------------------------1st Content row------------------------------------------ -->
    <section class="row">
      <!-- ------------------------------------------MustafaR Info.------------------------------------------ -->
      <aside class="col-3 text-center">
        <div *ngIf="mr">
          <strong class="h4">
            Mustafa Raad Mutashar
          </strong>
          <p>
            Iraq - 1997
          </p>
          <sub>
            Freelance
          </sub>
          <p>
            Full-Stack Web Developer
          </p>
        </div>
      </aside>
      <!-- ------------------------------------------1st Row of imgs------------------------------------------ -->
      <section class="card-decks col-6">
        <div class="img-div col-6">
          <img [ngClass]="mr && 'outliner'" class="card-img" src="../assets/img/MR.jpg" alt="Ofy" />
          <div class="Info">
            <button [ngClass]="mr ? 'text-h-e':'text-h'" class=" btn text-center badge badge-info text-wrap" (click)="mr=!mr">
              More Info
            </button>
          </div>
        </div>
        <div class="img-div col-6">
          <img [ngClass]="mm && 'outliner'" class="card-img" src="../assets/img/MM.jpg" alt="Ofy" />
          <div class="Info">
            <button [ngClass]="mm ? 'text-h-e':'text-h'" class="btn text-center badge badge-info text-wrap" (click)="mm=!mm">
              More Info
            </button>
          </div>
        </div>
      </section>
      <!-- ------------------------------------------MustafaM Info.------------------------------------------ -->
      <aside class="col-3 text-center ">
        <div *ngIf="mm">
          <strong class="h5">
            Mustafa Mohammed Kadhim
          </strong>
          <p>
            Iraq - 1998
          </p>
          <sub>
            Freelance
          </sub>
          <p>
            Mobile Applications Developer
          </p>
        </div>
      </aside>
    </section>
    <!-- ------------------------------------------2nd content row------------------------------------------ -->
    <section class="row">
      <!-- ------------------------------------------mo3li info------------------------------------------ -->
      <aside class="col-3 text-center ">
        <div *ngIf="ma">
          <strong class="h5">
            Mohammed Ali Salim Ali
          </strong>
          <p>
            Iraq - 1998
          </p>
          <sub>
            Freelance
          </sub>
          <p>
            Front-End Web Developer
          </p>
        </div>
      </aside>
      <!-- ------------------------------------------imgs row------------------------------------------ -->
      <section class="card-decks col-6">
        <div class="img-div col-6">
          <img [ngClass]="ma && 'outliner'" class="card-img" src="../assets/img/MA.jpg" alt="Ofy" />
          <div class="Info">
            <button [ngClass]="ma ? 'text-h-e':'text-h'" class="btn text-center badge badge-info text-wrap" (click)="ma=!ma">
              More Info
            </button>
          </div>
        </div>
        <div class="img-div col-6">
          <img [ngClass]="mrj && 'outliner'" class="card-img" src="../assets/img/MRJ.jpg" alt="Ofy" />
          <div class="Info">
            <button [ngClass]="mrj ? 'text-h-e':'text-h'" class="btn text-center badge badge-info text-wrap" (click)="mrj=!mrj">
              More Info
            </button>
          </div>
        </div>
      </section>
      <!-- ------------------------------------------MOh j info------------------------------------------ -->
      <aside class="col-3 text-center ">
        <div *ngIf="mrj">
          <strong class="h4">
            Mohammed Ridha Jasim
          </strong>
          <p>
            Iraq - 1998
          </p>
          <sub>
            Freelance
          </sub>
          <p>
            Python Applications Developer
          </p>
        </div>
      </aside>
    </section>
    <!-- ------------------------------------------Section 2 end------------------------------------------ -->
  </main>
</ng-container>
